<!--Este bloque se rellena dinamicamente con datos de los cards-->
<div class="card">
    <!--{{title}} son variables que se remplazarán dinámicamente con datos reales al momento de renderizar el contenido-->
    <h2 class="card__title">{{titulo}}</h2>
    <div class="card__icons">
        <img src="{{icon1}}" alt="[Ícono principal]" class="card__icon card__icon-primary">
        <img src="{{icon2}}" alt="[Ícono secundario]" class="card__icon card__icon-secundary">
    </div>
    <p class="card__description">{{description}}</p>
</div>