<section class="contac-form">
    <h2 class="contact-from__title">Diligencia los campos y contactanos</h2>

    <form class="contact-form__form">
        <!--<div class="contac-form__row">-->
            <label class="contac-form__label">
                Nombre
                <input type="text" class="contac-form__input" placeholder="Ingrese tu nombre" required>
            </label>

            <label class="contac-form__label">
                Teléfono
                <input type="tel" class="contac-form__input" placeholder="Ingrese tu numero de telefono" required>
            </label>

            <label class="contac-form__label">
                Correo electrónico
                <input type="email" class="contac-form__input" placeholder="Ingrese tu corrreo electrónico" required>
            </label>

            <label class="contac-form__label">
                Mensaje
                <textarea name="mensaje" class="contac-form__input" placeholder="Ingresa tu mensaje aqui..." required></textarea>
            </label>

            <button type="submit" class="contac-form__button">Enviar</button>

    </form>
</section>
